* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}

header{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    animation: dropdown 0.7s ease-in-out forwards;
}
.logo-container, .nav-links{
    display: flex;
    align-items: center;
}
.logo-container{
    background-color: white;
    flex: 1;

}
.logo{
    font-weight: 400;
    margin: 20px;
}
nav{
    background-color: white;
    flex: 1;
}
.nav-links{
    justify-content: space-around;
    list-style: none;
}
.nav-link{
    color: #212121;
    font-size: 18px;
    text-decoration: none;
}
.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 90vh;
    align-items: center;
}
.introduction{
    flex: 1;
    opacity: 0;
    animation: fadein 1.5s ease-in forwards;

}
.intro-text h1{
    font-size: 44px;
    font-weight: 500;
}
.intro-text p{
    font-size: 22px;
    margin-top: 5px;
}
.cta{
    padding: 50px 0px 50px 0px;
}
.cta button{
    border: none;
    background: linear-gradient(to left, #d76f8a 0%, #e09a60 100%);
    width: 150px;
    height: 50px;
    border-radius: 50px;
    color: white;
    font-size: 15px;
}
.cover{
    flex: 1;
}

.cover img{
    height: 40vh;
    animation: dropdown 1.5s ease-in forwards;
}
.bigger-circle{
    position: absolute;
    top: 13%;
    right: 0px;
    z-index: -2;
    opacity: 0.1;
    height: 60%;
    animation: fadeincircle 1.5s ease-in forwards;
}
.big-circle{
    position: absolute;
    top: 13%;
    right: 20%;
    z-index: -2;
    opacity: 0.1;
    animation: fadeincircle 1.5s ease-in forwards;
}
.small-circle{
    position: absolute;
    bottom: 35%;
    right: 20%;
    z-index: -2;
    opacity: 0.1;
    animation: fadeincircle 1.5s ease-in forwards;
}
@keyframes dropdown{
    0% {
	opacity: 0;
	transform: translateY(-80px);
    }
    100% {
	opacity: 1;
	transform: translateY(0px);
    }
}

@keyframes fadein{
    0% {
	opacity: 0;
	transform: translateX(80px);
    }
    100% {
	opacity: 1;
	transform: translateX(0px);
    }
}

@keyframes fadeincircle{
    0% {
	opacity: 0;
    }
    100% {
	opacity: 0.1;
    }
}
.poddery{
    margin: auto;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.poddery-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.poddery-logo{
    display: flex;
    width: 90%;
    justify-content: center;
    align-content: center;
    flex: 1;
}
.poddery-logo img{
    height: 10vh;
}
.poddery-intro-text {
    flex: 1;
    text-align: center;
    width: 50%
}
.poddery-intro-text h1{
    font-size: 44px;
    font-weight: 500;
}
.poddery-intro-text p{
    font-size: 22px;
    margin-top: 5px;
}
.poddery-services-list {
    width: 80%;
    display: flex;
    margin-top: 5vh;
    margin: auto;
    justify-content: space-around;
}
.poddery-services{
    text-align: center;
    width:  400px;
}
.poddery-services a{
    text-decoration: none;
    color: #212121;
}
.services-logo{
    height: 50px;
    margin-bottom: 10px;
}
.services{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.services h1{
    font-size: 44px;
}
.other-services{
    justify-content: center;
    text-align: center;
    align-content: center;
    display:flex;
    height: 160vh;
    backgroundacolor: yellowgreen;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.service-block{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 40vh;
    justify-content: center;
    align-items: center ;
    border: 10px solid #fff;
}
.service-block p{
    width: 70%;
}
.contact{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.contact h2{
    font-size: 44px;
}
.contact table{
    margin: auto;
    justify-content: center;
}
footer{
    margin-top: 10vh;
}
.footer-div{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.footer-div h2{
    font-size: 44px;
    margin-bottom: 3vh;
}
.social{
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: auto;
}
.social li{
    list-style: none;
}
.social-links{
    display: flex;
    flex-direction: column;
}
